/* DayGridView
--------------------------------------------------------------------------------------------------*/
.fc-toolbar.fc-header-toolbar {
  border-radius: 10px;
  padding: 6px 0;
}
.fc-toolbar h2 {
  font-size: 18px;
}
.fc-toolbar h2:first-letter {
  text-transform: uppercase;
}

.fc-button {
  color: #20120b;
  border: 2px solid #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
}

.fc-button-primary {
  background-color: transparent;
  border-radius: 20px;
  position: relative;
}
.fc-button-primary:hover {
  color: #999999;
  border-color: #f6f7f5;
  background-color: #f6f7f5;
}
.fc-button-primary:disabled {
  color: #999999;
  border-color: #f6f7f5;
  background-color: #f6f7f5;
  opacity: .5;
}
.fc-button-primary:focus {
  box-shadow: none;
}
.fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary:not(:disabled):active {
  color: #999999;
  border-color: #f6f7f5;
  background-color: #f6f7f5;
}
.fc-button-primary:not(:disabled).fc-button-active:focus,
.fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}
.fc-prev-button,
.fc-next-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}
.fc-button .fc-icon {
  color: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fc-unthemed th {
  border-color: transparent;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
  margin-left: 7px;
}

.fc-day-grid-event {
  margin: 1px 9px 0;
}

.fc-event,
.fc-event:hover {
  text-decoration: none;
}
.fc-event {
  font-size: .85em;
  line-height: 1.4;
  border-radius: 3px;
  border: 0;
}

a.fc-more {
  margin-left: 10px;
}

/* day row structure */
.fc-dayGridWeek-view .fc-content-skeleton,
.fc-dayGridDay-view .fc-content-skeleton {
  /* there may be week numbers in these views, so no padding-top */
  padding-bottom: 1em;
  /* ensure a space at bottom of cell for user selecting/clicking */
}
.fc-dayGrid-view .fc-body .fc-row {
  min-height: 4em;
  /* ensure that all rows are at least this tall */
}
/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */
.fc-row.fc-rigid {
  overflow: hidden;
}
.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* week and day number styling */
.fc-day-top.fc-other-month {
  opacity: 0.3;
}
.fc-dayGrid-view .fc-week-number,
.fc-dayGrid-view .fc-day-number {
  padding: 2px;
}
.fc-dayGrid-view th.fc-week-number,
.fc-dayGrid-view th.fc-day-number {
  padding: 0 2px;
  /* column headers can't have as much v space */
}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 3px 0;
}
.fc-dayGrid-view .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}
/* when week/day number have own column */
.fc-dayGrid-view td.fc-week-number {
  text-align: center;
}
.fc-dayGrid-view td.fc-week-number > * {
  /* work around the way we do column resizing and ensure a minimum width */
  display: inline-block;
  min-width: 1.25em;
}
